/*

@font-face{
    font-family: "DistantStroke";
    src: url('../fonts/distant_stroke/Distant_Stroke_Medium.otf') ;
    font-weight: normal;
}

@font-face{
    font-family: "DistantStroke";
    src: url('../fonts/distant_stroke/Distant_Stroke.otf') ;
    font-weight: lighter;
}

#logo {
    width: 90vw;
    height: 90vh;
    border: 3px solid black;
}

.polychrome{
    font-family: "DistantStroke";
    font-weight: lighter;
}

.binaire{
    font-family: sans-serif;
}

#frame{
    display: block;
    position: relative;
    width: 600px;
    height: 600px;
    border: 1px dotted grey;
    margin: 0 auto 0 0;
}
*/
#timeline {
  display: inline-block;
  position: relative;
  width: 30vw;
  height: auto;
  border: 1px dotted grey;
  margin: 0 auto 0 0; }
  #timeline .viewer {
    display: block;
    width: 200px;
    height: 200px;
    background-color: grey; }

#skillwheel {
  display: inline-block;
  position: relative;
  width: 30vw;
  height: auto;
  border: 1px dotted grey;
  margin: 0 auto 0 0;
  vertical-align: top; }
  #skillwheel .viewer {
    display: block;
    width: 200px;
    height: 200px;
    background-color: grey; }

