$white: white;
$black: black;
$orange: #f7931e;

$fontSize: 20px;
$fontFam : 'Sans-serif';

$maxHeaderH : 150px;
@function headerH($orientation)
{
    @if $orientation == 'landscape'
    {
        @return 25vh;
    }
    @else if $orientation == 'portrait'
    {
        @return 17vh;
    }
}


@mixin headerDim($orientation)
{
    position: absolute;
    height: headerH($orientation);
    max-height: $maxHeaderH;
    padding-bottom: 20px;
    width: 100vw;
    max-width: 100%;
    box-sizing: border-box;
}

$mainPad: 10px;

@import 'style/normalize.scss';
@import 'style/layout.scss';
@import 'style/design.scss';
@import 'style/filter.scss';