$white: rgb(236, 227, 223);
$black: black;
$orange: #f7931e;

@font-face {
    font-family: "Giorgio";
    src: url("/fonts/Giogio/Giorgio.ttf");
}
$fontSize: 20px;
$fontFam : 'Giorgio';

$maxHeaderH : 200px;
@function headerH($orientation)
{
    @if $orientation == 'landscape'
    {
        @return 23vh;
    }
    @else if $orientation == 'portrait'
    {
        @return 17vh;
    }
}
@mixin headerDim($orientation)
{
    position: absolute;
    height: headerH($orientation);
    max-height: $maxHeaderH;
    padding-bottom: 2vh;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

@mixin clickable($scale)
{
    &:hover{
        transform: scale($scale);
        cursor: none;
    }    
}

@mixin active($scale)
{
    transform: scale($scale);
    stroke: $orange;
}

$mainPad: 10px;
$strokeW: 1px;

@import 'style/normalize.scss';
@import 'style/layout.scss';
@import 'style/design.scss';
@import 'style/filter.scss';