$white: white;
$black: black;
$orange: #f7931e;

$fontSize: 30px;
$fontFam : 'Sans-serif';

$headerH: 15vh;
@mixin headerDim{
    position: absolute;
    height: $headerH;
    width: 100vw;
    max-width: 100%;
}

$mainPad: 10px;

@import 'style/normalize.scss';
@import 'style/layout.scss';
@import 'style/design.scss';