svg{
    fill: transparent;
}

header{

    background-color: $black;

    #logo {
        fill: $white;
        .logo--symbol{
            fill: $orange;
        }
    }

}

nav{

    fill: transparent;
    stroke: $orange;
    stroke-width: 6px;

    circle{
        stroke: $white;
    }
}

.section{
    .line{
        stroke: $white;
    }

    .endpoint{
        stroke: $orange;
    }

    .cursor{
        stroke: $orange;
        stroke-width: 4px;
        fill: $black;

        text{
            stroke: transparent;
            fill: $white;
            font-size: $fontSize * 0.7;
        }

        path{
            stroke: $white;
            stroke-width: 1px;
        }
    }
}

#skillwheel{
    .line{
        stroke: transparent;
    }

    .cursor{
        path{
            stroke: $white;
        }
    }
}