svg{
    fill: transparent;
}

body{
    color: $white;
    background-color: $black;
}

a{
    text-decoration: none;
}

#pointer{

    .pointer--lines{
        stroke: $orange;
        stroke-width: 6px;
    }

    .pointer--outlines{
        stroke: $black;
        stroke-width: 15px;
    }
}

header{

    background-color: $black;

    #logo {
        fill: $white;
        .logo--symbol{
            fill: $orange;
        }
    }

}

nav{
    stroke: $orange;
    stroke-width: 7px;

    .navBtn{
        transition: transform 0.5s;
        @include clickable(1.3);

        &--active{
            @include active(1.5);
        }
    }
}

.white{
    color: $white;
}

.orange{
    color: $orange;
}

.dash{
    display: block;
    width: 40%;
    border-bottom: $orange 1px solid;
    margin: auto;
}

.section{

    .line{
        stroke: $white;
        stroke-width: $strokeW * 0.5;
        
    }

    .endpoint{
        stroke: $orange;
        stroke-width: $strokeW * 0.5;
    }

    .endpoint--clicker{
        stroke: transparent;
        stroke-width: $strokeW*4;
    }

    .cursor{

        text{
            stroke: transparent;
            fill: $white;
            font-size: $fontSize * 0.65;
        }

        path{
            stroke: $white;
            stroke-width: $strokeW;
        }
    }
}

#skillwheel{
    .icon{
        fill: transparent;
        stroke: $white;
        stroke-width: $strokeW * 2;
        transition: transform 0.3s, fill 0.5s;

        &--clickable{
            @include clickable(1.3);
        }

        &--active{
            @include active(1.7);
        }
    }
}

.transition{
    svg{
        line{
            stroke: $orange;
            stroke-width: 0.3%;
        }

        rect{
            fill: $black;
            stroke: transparent;
        }
    }
}


@media (orientation: landscape)
{
    .section {
        stroke-width: $strokeW;
        .cursor{
            text{
                font-size: $fontSize;
            }
        }
    }
}

@media(min-device-width: 576px)
{
    .section {
        .cursor{
            text{
                font-size: $fontSize * 0.8;
            }
        }
    }
}

@media(min-device-width: 768px)
{
    .section {
        .cursor{
            text{
                font-size: $fontSize * 0.75;
            }
        }
    }
}

@media(min-device-width: 1200px)
{
    .section {
        .cursor{
            text{
                font-size: $fontSize * 0.65;
            }
        }
    }
}