svg{
    fill: transparent;
}

body{
    color: $white;
    background-color: $black;
}

header{

    background-color: $black;

    #logo {
        fill: $white;
        .logo--symbol{
            fill: $orange;
        }
    }

}

nav{
    stroke: $orange;
    stroke-width: 7px;

    .navBtn{
        transition: transform 0.5s;
        @include clickable(1.3);

        &--active{
            @include active(1.5);
        }
    }
}

.white{
    color: $white;
}

.orange{
    color: $orange;
}

.dash{
    display: block;
    width: 40%;
    border-bottom: $orange 1px solid;
    margin: auto;
}

.section{

    stroke-width: 0.5px;

    .line{
        stroke: $white;
        
    }

    .endpoint{
        stroke: $orange;
    }

    .endpoint--clicker{
        stroke: transparent;
        stroke-width: 4px;
    }

    .cursor{
        stroke: $orange;
        stroke-width: 4px;
        fill: $black;

        text{
            stroke: transparent;
            fill: $white;
            font-size: $fontSize * 0.65;
        }

        path{
            stroke: $white;
            stroke-width: 1px;
        }
    }
}

#skillwheel{
    .icon{
        fill: transparent;
        stroke: $white;
        stroke-width: 2px;
        transition: transform 0.3s, fill 0.5s;

        &--clickable{
            @include clickable(1.3);
        }

        &--active{
            @include active(1.7);
        }
    }
}


@media (orientation: landscape)
{
    .section {
        stroke-width: 1px;
        .cursor{
            text{
                font-size: $fontSize*0.8;
            }
        }
    }
}