#filters {
    width: 0px;
    height: 0px;
}

#trans--loading {
    .stick {
        flood-color: $orange;
    }

    .box {
        flood-color: $black;
    }
}

#trans--section {
    .stick{
        flood-color: $orange;
    }
    
    .box{
        flood-color: $black;
    }
}