#filters {
    width: 0px;
    height: 0px;
}

#trans--loading {
    .stick {
        flood-color: $orange;
    }

    .box {
        flood-color: $black;
    }
}

#trans--section {
    .flood--margin{
        flood-color: $orange;
    }

    .flood--noise{
        flood-color: $orange;
    }
    
    .flood--box{
        flood-color: $black;
    }
}

/* main{
    filter: url("#trans--section");
} */