#filters{
    width: 0px;
    height: 0px;
}

#trans--loading{
    .flood--edge{
        flood-color: $orange;
    }
}

body {
    filter: url("#trans--loading");
}

#trans--section {
    .flood--margin{
        flood-color: $orange;
    }

    .flood--noise{
        flood-color: $orange;
    }
    
    .flood--box{
        flood-color: $black;
    }
}

main{
    filter: url("#trans--section");
}