body {
    font-family: $fontFam;
    font-size: $fontSize * 0.95;
    cursor: none;
    overflow: hidden;
}

#app{
    overflow: auto;
}

#pointer{
    position: absolute;
    z-index: 4;
    display: block;
    width: 47px;
    height: 47px;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

header{
    @include headerDim('portrait');
    z-index: 2;
}

#logo{
    width: 100%;
    height: 100%;
}

nav{
    z-index: 3;
    @include headerDim('portrait');
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
    align-items: flex-end;
    padding-left: 1.7em;
    padding-right: 1.7em;

    .navBtn{
        width: 10%;
        height: 30%;

        .navBtn--symbol{
            width: 100%;
            height: 100%;
        }
    }
}

main{
    margin-top: headerH('portrait');
    height: 100vh - headerH('portrait');
    padding: $mainPad;
    box-sizing: border-box;
    position: relative;
}

.section{
    box-sizing: border-box;
    padding: 0;
    height: 100%;
    width: 100%;

    .viewer{
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
        position: relative;

        .viewer--header{

            .viewer--title{
                font-size: 1.1em;
                margin: 0 0 0.5em 0;
            }

            .viewer--corpo{
                font-size: 0.6em;
                margin: 0 0 0.5em 0;
            }

            .viewer--place{
                font-size: 0.6em;
            }
        }

        .viewer--list{
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            justify-content: space-around;
            flex-grow: 2;
            max-height: 50%;
            list-style: none;
            padding: 0 0 0 0;
            margin: 1em auto 0 auto;

            .viewer--item{
                font-size: 0.7em;
            }
        }
    }
}

#presentation{
    font-size: 0.7em;
    text-align: center;
    padding: 1px 1.5em 0 1.5em;

    p{
        padding: 0.4em 0 0.4em 0em;

        a{
            @include clickable(1.3);
            transition: transform 0.4s;
            display: inline-block;
            padding: 0 0.2em 0.2em 0.2em;
            font-size: 3em;
        }
    }
}

#timeline{
    display: flex;
    justify-content: space-around;
    align-items: center;

    .drawing{
        width: 35%;
        height: 100%;
    }

    .viewer{
        width: 50%;
        height: 80%;
        text-align: center;
        padding-right: 1em;

        .viewer--list{
            text-align: left;
        }
    }
}

#skillwheel {
    display: block;

    .drawing{
        display: flex;
        justify-content: space-around;
        align-content: center;
        align-items: center;
        width: 100%;
        height: 20%;

        .icon{
            display: block;
            height: 50%;
            max-width: 15%;
        }
    }

    .viewer{
        align-content: center;
        align-items: center;
        height: 80%;
        width: 100%;

        .viewer--header{
            max-width: 60%;
        }

        .viewer--list{
            max-width: 60%;
        }
    }
}

.transition{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding-top: inherit;
    padding-bottom: inherit;
    box-sizing: border-box;
    pointer-events: none;

    svg{
        width: 100%;
        height: 100%;
    }
}

@media(orientation: landscape)
{
    header{
        @include headerDim('landscape');
    }

    nav {
        @include headerDim('landscape');
    }

    main {
        margin-top: headerH('landscape');
        height: 100vh - headerH('landscape');
    }

    .section{
        .viewer{
            .viewer--header{
                .viewer--corpo{
                    margin-bottom: 0em;
                }
            }
        }
    }

    #skillwheel{
        .drawing{
            margin: auto;
            width: 700px;
            max-width: 100%;

            .icon{
                height: 80%;
            }
        }

        .viewer{
            padding: 0.5em 0 0.5em 0;
            margin: 0 auto 0 auto;
            width: 700px;
            max-width: 100%;
            .viewer--header{
                max-width: 100%;
            }
            .viewer--list{
                max-width: 100%;
            }
        }
    }
}

#notfound{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;

    span {
        margin: 1em 0 1em 0;
    }
}


@media(min-device-width: 576px)
{
    body{
        font-size: $fontSize * 1.1;
    }
}

@media(min-device-width: 768px)
{
    body{
        font-size: $fontSize * 1.45;
    }
}

@media(min-device-width: 1200px)
{
    body{
        font-size: $fontSize * 1.65;
    }
}
