body {
    color: $white;
    background-color: $black;
    font-family: $fontFam;
    font-size: $fontSize;
}

#app{
    overflow: auto;
}

header{
    @include headerDim('portrait');
}

#logo{
    width: 100%;
    height: 100%;
}

nav{
    @include headerDim('portrait');
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
    align-items: flex-end;

    .navBtn{
        width: 10%;
        height: 40%;

        .navBtn--symbol{
            width: 100%;
            height: 100%;
        }
    }
}

main{
    margin-top: headerH('portrait');
    height: 100vh - headerH('portrait');
    padding: $mainPad;
    box-sizing: border-box;
}

.section{
    box-sizing: border-box;
    padding: 0;
    height: 100%;
    width: 100%;

    .viewer{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;

        .viewer--header{
            width: 100%;

            .viewer--title{
                font-size: 1.2em;
                margin: 0 0 0.35em 0;
            }

            .viewer--corpo{
                font-size: 0.7em;
            }

            .viewer--place{
                font-size: 0.7em;
            }
        }

        .viewer--list{
            align-items: flex-start;
            list-style: none;
            padding: 0 0 0 0;
            margin: 0 0 0 0;
        }

        .viewer--item{
            font-size: 0.7em;
            margin-bottom: 1.5em;
        }
    }
}

#timeline{
    display: flex;
    justify-content: space-around;
    align-items: center;

    .drawing{
        width: 35%;
        height: 100%;
    }

    .viewer{
        width: 50%;
        height: 80%
    }
}

#skillwheel {
    display: block;

    .drawing{
        width: 100%;
        height: 30%;
    }

    .viewer{
        display: inline-block;
        width: 100%;
    }
}

@media(orientation: landscape)
{
    header{
        @include headerDim('landscape');
    }

    nav {
        @include headerDim('landscape');
    }

    main {
        margin-top: headerH('landscape');
        height: 100vh - headerH('landscape');
    }
}